@model List<Crewin_Task.Entities.Product>

<h2>Products</h2>

<div style="display: flex; flex-wrap: wrap; gap: 20px;">
    @foreach (var product in Model)
    {
        <div style="border: 1px solid #ddd; padding: 15px; width: 250px; text-align: center;">
            <h3>@product.Title</h3>
            <img src="@product.Thumbnail" alt="@product.Title" style="width: 100%; height: auto;" />
            <p>Price: $@product.Price</p>
            <p>Rating: @product.Rating</p>
            <a href="@Url.Action("ProductDetails", "Product", new {category=product.Category, id = product.Id })"
               class="btn btn-primary">Details</a>
        </div>
    }
</div>

